@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lobster&family=Poppins:wght@300;400;700&display=swap");

$heading: "Heebo", sans-serif;
$text: "Poppins", sans-serif;
$special: "Lobster", cursive;

// general styles
$border-radius: 16px;
$box-shadow: #2d2a32 0px 20px 30px -10px;
