@use "../abstracts" as a;

h1,
h2,
h3 {
  font-family: a.$heading;
}

.app-title {
  font-size: clamp(4.2rem, 5vw, 6.8rem);
  text-align: start;
  line-height: 1;
  background: -webkit-linear-gradient(#f95738, #e36429);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
}

a,
button {
  text-decoration: none;
  font-weight: 600;
  font-family: a.$text;
  text-transform: uppercase;
  font-size: 1.4rem;
  @include a.transition-ease;
  cursor: pointer;
}
